@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827;

  --primary: #2563eb;
  --primary-foreground: #ffffff;

  --muted: #f3f4f6;
  --muted-foreground: #6b7280;

  --border: #e5e7eb;

  --success: #dcfce7;
  --success-foreground: #166534;

  --warning: #fef3c7;
  --warning-foreground: #92400e;

  --danger: #fce7f3;
  --danger-foreground: #be185d;
}

* {
  border-color: var(--border);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}